= form_for @candidate do |f|
  - if @candidate.errors.any?
    #error_explanation
      %h2= "#{pluralize(@candidate.errors.count, "error")} prohibited this candidate from being saved:"
      %ul
        - @candidate.errors.full_messages.each do |msg|
          %li= msg

  = f.label :name
  = f.text_field :name

  = f.label :email

  = f.text_field :email

  = f.label :resume
  - if f.object.resume_file_name
    %p= f.object.resume_file_name
    = image_tag f.object.resume.url(:thumbnail)
  = f.file_field :resume

  = f.label :note
  = f.trix_editor :note


  .actions
    = f.submit 'Save'
