%br/

%ul.breadcrumbs
  %li
    %a{:href => root_path} Home
  %li.disabled All candidates

%h4 All candidates

= link_to new_candidate_path, class: 'button' do
  %i.fi-plus
    Add new candidate

%br/

%table.stack
  %thead
    %tr
      %th Preview
      %th Name
      %th Email
      %th
      %th

  %tbody
    - @candidates.each do |candidate|
      %tr
        %td= image_tag candidate.resume.url(:thumbnail)
        %td= candidate.name
        %td= candidate.email
        %td
          = link_to edit_candidate_path(candidate) do
            %i.fi-page-edit
        %td
          = link_to candidate, method: :delete, data: { confirm: 'Are you sure?' } do
            %i.fi-trash

%br
